html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    background-image: url("clouds.gif");
    background-size: cover;
    padding: 2%;
    font-size: larger;
    color: rgb(130, 123, 123);
}

form{
    padding: 2%;
    text-align: center;
}

.completed{
    color: green;
}

table{
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

thead{
    font-size: large;
}

body{
    background-color: aliceblue;
}

input{
    width: 50%;
    padding: 0.5%;
}
